<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adam.mathlab20">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MatematykaActivity" />
        <activity android:name=".FizykaActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".FunkcjeActivity" />
        <activity android:name=".GeometriaActivity" />
        <activity android:name=".WielomianyActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".FuncjaLiniowaActivity" />
        <activity android:name=".FunkcjaLogarytmicznaActivity" />
        <activity android:name=".FunkcjaWymiernaActivity" />
        <activity android:name=".FunkcjaWykladniczaActivity" />
        <activity android:name=".FunkcjaKwadratowaActivity" />
        <activity android:name=".PlanimetriaActivity" />
        <activity android:name=".StereometriaActivity" />
        <activity android:name=".FiguryProsteActivity"></activity>
    </application>

</manifest>